In [1]:
import pandas as pd

In [4]:
# Airtel dataset
MIN_RMSE = 35.0
MIN_MAPE = 5.0

airtel = pd.read_csv('./data/Airtel_StaDRo.csv')
airtel

,Test set range,RMSE,R2-score,MAPE,Wasserstein_dist,rmse_ratio,mape_ratio,Robust_rmse,Robust_mape
0,0 : 70,13.631281,0.882810,2.395231,77.611186,0.31,0.30,True,True
1,70 : 140,20.591997,0.712642,3.208272,151.299296,0.61,0.58,True,True
2,140 : 210,15.584275,-0.107580,1.909661,214.430011,0.86,0.82,True,True
3,210 : 280,13.764590,0.890884,2.233878,120.512155,0.49,0.46,True,True
4,280 : 350,17.051566,0.840156,2.356871,195.066435,0.79,0.75,True,True
5,350 : 420,10.234940,0.401232,1.487524,186.867870,0.75,0.72,True,True
6,420 : 490,51.208987,0.465768,5.421894,254.730729,1.03,0.98,False,True
7,490 : 560,87.266494,-13.181632,11.969945,354.343585,1.43,1.36,False,False

In [5]:
# Google dataset
MIN_RMSE = 500
MIN_MAPE = 20.0

google = pd.read_csv('./data/Google_StaDRo.csv')
google

,Test set range,RMSE,R2-score,MAPE,Wasserstein_dist,rmse_ratio,mape_ratio,Robust_rmse,Robust_mape
0,0 : 70,24.847720,0.525557,1.957763,634.729748,0.39,0.42,True,True
1,70 : 140,31.121782,0.604659,2.168661,740.495994,0.45,0.49,True,True
2,140 : 210,26.349113,0.710956,1.649139,717.432218,0.44,0.47,True,True
3,210 : 280,36.731731,0.462875,2.524405,842.073545,0.52,0.55,True,True
4,280 : 350,82.026500,0.682507,5.179344,910.238956,0.56,0.60,True,True
5,350 : 420,82.457381,0.137846,5.439271,945.593033,0.58,0.62,True,True
6,420 : 490,133.104260,-3.629121,7.957742,1094.772398,0.67,0.72,True,True
7,490 : 560,284.061283,-10.060291,15.461753,1330.716542,0.82,0.88,True,True
8,560 : 630,620.005796,-23.576535,27.794462,1739.055127,1.07,1.15,False,False
9,630 : 700,1014.965332,-51.307092,38.656339,2153.027790,1.32,1.42,False,False
10,700 : 770,1287.458397,-234.082730,44.773456,2430.588504,1.49,1.60,False,False

In [7]:
# JP Morgan dataset
MIN_RMSE = 8.5
MIN_MAPE = 5.0

jpm = pd.read_csv('./data/JPM_StaDRo.csv')
jpm

,Test set range,RMSE,R2-score,MAPE,Wasserstein_dist,rmse_ratio,mape_ratio,Robust_rmse,Robust_mape
0,0 : 70,2.229901,0.691021,1.676739,61.249937,0.63,0.63,True,True
1,70 : 140,2.319982,0.622912,1.594654,62.626808,0.64,0.65,True,True
2,140 : 210,2.529879,0.565769,1.808654,53.439072,0.55,0.55,True,True
3,210 : 280,2.414821,0.696701,1.767149,59.375917,0.61,0.61,True,True
4,280 : 350,2.429072,0.644384,1.644052,63.118487,0.65,0.65,True,True
5,350 : 420,3.281186,0.836944,2.280830,78.901342,0.81,0.81,True,True
6,420 : 490,7.156901,0.888598,5.153427,66.652344,0.68,0.69,True,True
7,490 : 560,4.115728,0.479231,3.351165,46.555260,0.48,0.48,True,True
8,560 : 630,2.428796,0.162380,2.046874,50.303205,0.52,0.52,True,True
9,630 : 700,5.114609,0.732956,3.032370,76.551485,0.78,0.79,True,True
10,700 : 770,10.401522,-4.185669,6.402128,105.028628,1.08,1.08,False,False
11,770 : 840,10.761925,-3.824251,6.358657,107.208200,1.10,1.11,False,False
12,840 : 910,14.770300,-8.206170,8.632299,114.841629,1.18,1.19,False,False

In [8]:
# MRF dataset
MIN_RMSE = 1800
MIN_MAPE = 2.0

mrf = pd.read_csv('./data/MRF_StaDRo.csv')
mrf

,Test set range,RMSE,R2-score,MAPE,Wasserstein_dist,rmse_ratio,mape_ratio,Robust_rmse,Robust_mape
0,0 : 70,1641.199561,0.395728,2.052163,46034.546281,0.89,0.87,True,True
1,70 : 140,2082.176505,0.653722,2.914858,39839.511448,0.77,0.76,True,True
2,140 : 210,1108.643766,0.147282,1.524264,37749.082138,0.73,0.72,True,True
3,210 : 280,1711.482837,0.653997,2.123453,42509.861935,0.82,0.81,True,True
4,280 : 350,1403.890176,0.807993,1.712163,47227.481492,0.91,0.90,True,True
5,350 : 420,2618.170163,0.294722,3.186421,40807.729778,0.79,0.78,True,True
6,420 : 490,1568.968132,0.721034,2.122281,42594.380172,0.82,0.81,True,True
7,490 : 560,2331.222962,0.907366,2.438257,50659.919349,0.98,0.96,True,True
8,560 : 630,5426.678726,-0.745152,5.098624,66415.318912,1.28,1.26,False,False
9,630 : 700,2378.418592,-0.569072,2.407145,60885.644470,1.17,1.16,False,False
10,700 : 770,2390.080647,-0.202877,2.056416,59941.644358,1.16,1.14,False,False

In [9]:
# Reliance dataset
MIN_RMSE = 125
MIN_MAPE = 6.0

reliance = pd.read_csv('./data/Reliance_StaDRo.csv')
reliance

,Test set range,RMSE,MAPE,R-Squared,Wasserstein_dist,rmse_ratio,mape_ratio,Robust_rmse,Robust_mape
0,0 : 70,29.628981,1.749787,0.685558,298.587729,0.32,0.31,True,True
1,70 : 140,26.856682,1.518385,0.952918,459.474070,0.49,0.48,True,True
2,140 : 210,47.133102,2.755424,0.944063,392.110418,0.42,0.41,True,True
3,210 : 280,63.627978,3.246229,0.902331,563.165340,0.60,0.59,True,True
4,280 : 350,216.608482,9.647360,-4.736759,1182.599637,1.26,1.25,False,False
5,350 : 420,132.016970,6.219834,-5.616920,996.976089,1.06,1.05,False,False
6,420 : 490,151.742612,7.126106,-2.444127,1042.103199,1.11,1.10,False,False
7,490 : 560,200.172309,9.120893,-7.141950,1155.867567,1.23,1.22,False,False